name: DuckDB Node Bindings & API
on:
  pull_request:
  workflow_dispatch:
    inputs:
      publish_dry_run:
        description: 'Publish Dry Run'
        type: boolean
        required: true
        default: true
      linux_x64:
        description: 'Run on Linux x64'
        type: boolean
        required: true
        default: false
      publish_linux_x64:
        description: 'Publish Bindings for Linux x64'
        type: boolean
        required: true
        default: false
      publish_bindings:
        description: 'Publish Bindings (from Linux x64)'
        type: boolean
        required: true
        default: false
      publish_api:
        description: 'Publish API (from Linux x64)'
        type: boolean
        required: true
        default: false
      linux_arm64:
        description: 'Run on Linux arm64'
        type: boolean
        required: true
        default: false
      macos_arm64:
        description: 'Run on Mac OS X arm64'
        type: boolean
        required: true
        default: false
      publish_darwin_arm64:
        description: 'Publish Bindings for Darwin arm64'
        type: boolean
        required: true
        default: false
      windows_x64:
        description: 'Run on Windows x64'
        type: boolean
        required: true
        default: false
      publish_win32_x64:
        description: 'Publish Bindings for Win32 x64'
        type: boolean
        required: true
        default: false
  repository_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: false

jobs:

  linux_x64:
    name: Linux x64
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.linux_x64 }}
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      
      - name: Workspace - Install
        run: pnpm install --ignore-scripts

      - name: Bindings - Build
        working-directory: bindings
        run: pnpm run build
      
      - name: Bindings - Test
        working-directory: bindings
        run: pnpm test
      
      - name: API - Build
        working-directory: api
        run: pnpm run build
      
      - name: API - Test
        working-directory: api
        run: pnpm test
      
      - name: Git Status
        if: ${{ inputs.publish_linux_x64 || inputs.publish_bindings || inputs.publish_api }}
        run: git status
      
      - name: Publish - Bindings - Linux x64
        if: ${{ inputs.publish_linux_x64 }}
        working-directory: bindings/pkgs/@duckdb/node-bindings-linux-x64
        run: pnpm publish ${{ inputs.publish_dry_run && '--dry-run' || '' }} --publish-branch ${{ github.ref_name }} --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.DUCKDB_NPM_TOKEN }}
      
      - name: Publish - Bindings
        if: ${{ inputs.publish_bindings }}
        working-directory: bindings/pkgs/@duckdb/node-bindings
        run: pnpm publish ${{ inputs.publish_dry_run && '--dry-run' || '' }} --publish-branch ${{ github.ref_name }} --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.DUCKDB_NPM_TOKEN }}

      - name: Publish - API
        if: ${{ inputs.publish_api }}
        working-directory: api/pkgs/@duckdb/node-api
        run: pnpm publish ${{ inputs.publish_dry_run && '--dry-run' || '' }} --publish-branch ${{ github.ref_name }} --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.DUCKDB_NPM_TOKEN }}

  linux_arm64:
    name: Linux arm64
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.linux_arm64 }}
    env:
      TARGET_ARCH: arm64
      CC: aarch64-linux-gnu-gcc
      CXX: aarch64-linux-gnu-g++
    steps:
      - name: Install aarch64 compilers
        run: sudo apt install binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
      
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      
      - name: Workspace - Install
        run: pnpm install --ignore-scripts

      - name: Bindings - Build
        working-directory: bindings
        run: pnpm run build
      
      - name: Bindings - Test
        working-directory: bindings
        run: pnpm test

  macos_arm64:
    name: Mac OS X arm64
    runs-on: macos-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.macos_arm64 }}
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Workspace - Install
        run: pnpm install --ignore-scripts

      - name: Bindings - Build
        working-directory: bindings
        run: pnpm run build
      
      - name: Bindings - Test
        working-directory: bindings
        run: pnpm test
      
      - name: API - Build
        working-directory: api
        run: pnpm run build
      
      - name: API - Test
        working-directory: api
        run: pnpm test
      
      - name: Git Status
        if: ${{ inputs.publish_darwin_arm64 }}
        run: git status
      
      - name: Publish - Bindings - Darwin arm64
        if: ${{ inputs.publish_darwin_arm64 }}
        working-directory: bindings/pkgs/@duckdb/node-bindings-darwin-arm64
        run: pnpm publish ${{ inputs.publish_dry_run && '--dry-run' || '' }} --publish-branch ${{ github.ref_name }} --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.DUCKDB_NPM_TOKEN }}

  windows_x64:
    name: Windows x64
    runs-on: windows-latest
    if: ${{ github.event_name != 'workflow_dispatch' || inputs.windows_x64 }}
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      
      - name: Workspace - Install
        run: pnpm install --ignore-scripts

      - name: Bindings - Build
        working-directory: bindings
        run: pnpm run build
      
      - name: Bindings - Test
        working-directory: bindings
        run: pnpm test
      
      - name: API - Build
        working-directory: api
        run: pnpm run build
      
      - name: API - Test
        working-directory: api
        run: pnpm test
      
      - name: Git Status
        if: ${{ inputs.publish_win32_x64 }}
        run: git status
      
      - name: Publish - Bindings - Win32 x64
        if: ${{ inputs.publish_win32_x64 }}
        working-directory: bindings/pkgs/@duckdb/node-bindings-win32-x64
        run: pnpm publish ${{ inputs.publish_dry_run && '--dry-run' || '' }} --publish-branch ${{ github.ref_name }} --access public
        env:
          NPM_AUTH_TOKEN: ${{ secrets.DUCKDB_NPM_TOKEN }}
